.img-logo {
    height: 37px;
    width: 37px;
}

/* .MuiTypography-body1{
    color: #4D4F5C;
    font-size: 16px;
    opacity: 0.8;
}

.MuiTypography-body2{
    color: #43425D;
    font-size: 14px;
    opacity: 0.5;
} */